/* Login.css and Register.css */
.auth-container {
  margin-top: 0px; /* Reset margin to bring the container to the top */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  background-color: #333;
  color: white;
}

.form-container {
  margin-top: 20px; /* Move the form container even higher up */
  max-width: 400px;
  width: 100%;
  background-color: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-container form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-container form button:hover {
  background-color: #0056b3;
}

.static-notification {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}
